include README.md
include LICENSE
recursive-include octoprint_enclosureheatercontrol_tplink/templates *
recursive-include octoprint_enclosureheatercontrol_tplink/translations *
recursive-include octoprint_enclosureheatercontrol_tplink/static *
